.container.overflow.mobile-top-padding
  .row
    .col-md-3.p-0
      .full-size.hide-md
        .center-box
          include ../partials/_nav-about
    .col.align-self-center
      h3.text-uppercase.my-4.dk-aqua-xs acerca
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa accusantium consequatur, voluptatum ex possimus necessitatibus recusandae doloremque labore commodi earum adipisci, error dolorem magnam sequi eaque quibusdam sapiente quis porro!
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor non vitae, eum corporis tempore et culpa labore, quas natus ducimus quaerat recusandae molestiae. Nihil beatae, consectetur laboriosam magni, debitis accusamus.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga laudantium magni consectetur natus exercitationem quisquam iure facere, deleniti possimus suscipit corrupti aut optio quae non, atque eligendi molestiae. Eos nisi consequuntur fugit quia dolor, blanditiis voluptatum quos, voluptatem porro doloremque debitis quo. Illum reprehenderit pariatur laboriosam! Nisi harum laborum eum.
      h3.text-uppercase.my-4.dk-aqua-xs curriculum vitae
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium totam ab cupiditate blanditiis sapiente. At voluptates eaque, quas iure sint rem, recusandae sed soluta quo odit nobis vel dicta quia? Doloremque, placeat aspernatur nulla ipsum voluptatibus error molestiae? Harum eius corporis ipsam commodi animi aliquam ratione maiores, totam eveniet, ea beatae in libero placeat quasi! Quae officia, ex in nisi minima molestiae magnam deserunt repellat, consequuntur iure a quis dolor unde? Temporibus minima labore earum aspernatur dolorem tenetur iste, repellendus explicabo, in a numquam culpa maxime cumque dolor esse odio.
