.container-fluid.p-0
  .row
    .col-md-4.p-0
      .project-data.overflow.bg-lg-gray
        button.close(type="button" data-dismiss="modal")
          i.fas.fa-times
        h1.text-uppercase.dk-aqua.title-detail teleférico de mérida, venezuela
        h3.text-uppercase.mb-4.olive estación la aguada
        p.olive Esta estacion representa en su lado Norte la llegada al andén de la sección 2 y por el otro lado da inicio a la sección 3 en dirección hacia la Estación Loma Redonda.
        p.olive Estaba conformada por dos cuerpos, de los cuales, el de menos volumen albergaba el área del andén a nivel Planta Baja y el sótano de los contrapesos debajo del andén.  Anexo a este, en el lado Este se encontraba otro cuerpo de tres niveles y la salida al área exterior en el nivel inferior.
        p.olive El sistema constructivo era de concreto armado y se presentaba en condiciones satisfactorias a los fines de su parcial reutilización.
        h4.text-uppercase.mt-4.olive requerimientos
        p.olive un museo amplio, un cafetín, sanitarios para visitantes, una enfermería y cuarto de pernocta para vigilantes, a nivel tierra el acceso a las áreas del parque.
        h4.text-uppercase.mt-4.olive criterios de diseño
        p.olive Se repite el elemento del techo unificador para cubrir con él la propuesta temática de un museo en esta estacion. Ubicado en el lado Este y a medio nivel por debajo del andén. Se utilizó en este nivel partes de la edificación existente, agregándole en ambos lados en dirección Norte-Sur nuevas construcciones que amplían el área del museo, el cual es cubierto por el ya mencionado techo de forma curva ascendiente hacia el techo del andén. Este último también es modificado en su totalidad, en cuanto se refiere a su nueva estructura metálica, cubriendo sus paredes con ventanales.
        p.olive En el nivel inferior al museo se encuentran entre otros espacios, los sanitarios y un cafetín, con un gran ventanal hacia el paisaje del Este de la estacion y con una terraza en dirección a la Ciudad de Mérida.
        p.olive En este nivel se proyecto la salida al área exterior, donde el visitante, por medio de un sistema de rampas puede llegar a las áreas circundantes a la estación.
    #project-images.col.p-0
      .arrow
        i.fas.fa-chevron-right
      ul.images
        li
          img.image-fit(src="./img/aguada/05.jpg", alt="")
        li
          img.image-fit(src="./img/aguada/02a.jpg", alt="")
        li
          img.image-fit(src="./img/aguada/02b.jpg", alt="")
        li
          img.image-fit(src="./img/aguada/03a.jpg", alt="")
        li
          img.image-fit(src="./img/aguada/03b.jpg", alt="")
        li
          img.image-fit(src="./img/aguada/04a.jpg", alt="")
        li
          img.image-fit(src="./img/aguada/04b.jpg", alt="")
        li
          img.image-fit(src="./img/aguada/04c.jpg", alt="")
        li
          img.image-fit(src="./img/aguada/06a.jpg", alt="")
        li
          img.image-fit(src="./img/aguada/06b.jpg", alt="")
        li
          img.image-fit(src="./img/aguada/corte-c-c.jpg", alt="")
        li
          img.image-fit(src="./img/aguada/nivel-anden.jpg", alt="")
        li
          img.image-fit(src="./img/aguada/nivel-cafeteria.jpg", alt="")
        li
          img.image-fit(src="./img/aguada/nivel-servicio.jpg", alt="")
        li
          img.image-fit(src="./img/aguada/corte-a-a.jpg", alt="")
        li
          img.image-fit(src="./img/aguada/corte-b-b.jpg", alt="")

  
