.container-fluid.p-0
  .row
    .col-md-4.p-0
      .project-data.overflow.bg-lg-gray
        button.close(type="button" data-dismiss="modal")
          i.fas.fa-times
        h1.text-uppercase.dk-aqua.title-detail teleférico de mérida, venezuela
        h3.text-uppercase.mb-4.olive estación barinitas
        p.olive  El área de terreno de esta estacion, con su topografía prácticamente plana, ofrecía suficiente espacio para el principal objeto, el de acoger una considerable cantidad de visitantes y garantizar el acceso al sistema del teleférico. Las instalaciones existentes ya obsoletas facilitaron la decisión de su total eliminación para poder utilizar en la fase inicial el área para el almacenamiento tanto de las partes electromecánicas, llegadas en contenedores al sitio, como de materiales de construcción en general, para su manipulación y su envío a las demás estaciones, mediante los dos sistemas de transporte en funcionamiento, como lo eran las cabinas del teleférico de pasajeros y el de carga. Al fin quedó como única referencia al viejo sistema el sitio de salida de las cabinas de la Sección 1 y la geometría de ubicación de los ejes de guayas, determinante para la ubicación de los bolardos del nuevo sistema en todas las estaciones.
        h4.text-uppercase.mt-4.olive requerimientos
        p.olive Una cantidad de tiendas de venta de artesanía, una feria de comida para ocho concesionarios con cocinas y depositos, una enfermería, sanitarios para visitantes, vestuarios y sanitarios para los empleados del sistema, cuarto de estar y de pernocta para bomberos, oficinas administrativas, taquillas de venta de boletos y el sistema de control de acceso a las cabinas.
        h4.text-uppercase.mt-4.olive criterios de diseño
        p.olive Por tratarse del principal punto de concentración de usuarios del sistema y considerando los posibles prolongados tiempos de espera, tanto para la adquisición de los boletos, como para acceder a las cabinas, se estableció como una de las principales prioridades la protección climática del visitante, mediante la implantación de extensas áreas de techos ondulados, imitando de esa manera la silueta de las montañas que se erigen frente a la estacion y que son el propósito del viaje. 
        p.olive Se proyectaron dos techos de diferentes alturas y extensiones, manteniendo sus movimientos paralelos a lo largo de su desarrollo. El primero y principal, de mayor área y altura cubre desde el portal de entrada al complejo, todo el área del pasillo central, el área de los locales comerciales, la edificación que alberga los sanitarios, la enfermería y servicios, hasta el área de la salida de las cabinas. Por encima del mencionado pasillo central el techo lleva una franja de vidrio que permite una espectacular vista hacia la montaña en frente. El techo de menor altura y extensión se expande por encima del área de llegada de las busetas y de la espera frente a las taquillas de venta de boletos y a continuación sobre el área de la Feria de Comida.
    #project-images.col.p-0
      .arrow
        i.fas.fa-chevron-right
      ul.images
        li
          img.image-fit(src="./img/barinitas/01.jpg", alt="")
        li
          img.image-fit(src="./img/barinitas/02.jpg", alt="")
        li
          img.image-fit(src="./img/barinitas/conjunto.jpg", alt="")
        li
          img.image-fit(src="./img/barinitas/conjunto.jpg", alt="")
        li
          img.image-fit(src="./img/barinitas/corte-a1.jpg", alt="")
        li
          img.image-fit(src="./img/barinitas/corte-a2.jpg", alt="")
        li
          img.image-fit(src="./img/barinitas/corte-a3.jpg", alt="")
        li
          img.image-fit(src="./img/barinitas/corte-b1.jpg", alt="")
        li
          img.image-fit(src="./img/barinitas/corte-b2.jpg", alt="")
        li
          img.image-fit(src="./img/barinitas/corte-b3.jpg", alt="")
        li
          img.image-fit(src="./img/barinitas/corte-c1.jpg", alt="")
        li
          img.image-fit(src="./img/barinitas/corte-c2.jpg", alt="")
        li
          img.image-fit(src="./img/barinitas/corte-c3.jpg", alt="")
        li
          img.image-fit(src="./img/barinitas/corte-d1.jpg", alt="")
        li
          img.image-fit(src="./img/barinitas/corte-d2.jpg", alt="")
        li
          img.image-fit(src="./img/barinitas/corte-d3.jpg", alt="")
  
