.container-fluid.p-0
  .row
    .col-md-4.p-0
      .project-data.overflow.bg-lg-gray
        button.close(type="button" data-dismiss="modal")
          i.fas.fa-times
        h1.text-uppercase.dk-aqua.title-detail teleférico de mérida, venezuela
        h3.text-uppercase.mb-4.olive estación loma redonda
        p.olive La penúltima estacion es la segunda estacion motora del sistema, sirviendo a las secciones 3 y 4, o sea hacia la estacion La Aguada por un lado y hacia la Estacion Pico Espejo por el otro lado. Como tal albergaba las salas de motores en cada uno de sus extremos a nivel Planta Baja y el nivel de la llegada de las cabinas y el andén a nivel Planta Alta, donde además funcionaban una cafetería y los sanitarios. En el lado Oeste a nivel Planta Baja se encontraba la salida hacia las áreas exteriores de esparcimiento y el área del teleférico de carga. 
        p.olive Impactaba el gigantesco esqueleto de la estructura de concreto de varios niveles, un cuerpo extraño en el paisaje montañoso desnudo, ya carente de una vegetación frondosa. Sin embargo, el concreto utilizado en sus elementos constructivos seguía siendo de óptima calidad, como lo confirmaban las respectivas pruebas realizadas al respecto.
        h4.text-uppercase.mt-4.olive requerimientos
        p.olive Un Restaurante del tipo self-service, completamente amoblado y equipado, sanitarios para visitantes, cuarto de pernocta, la enfermería y el acceso al exterior.
        h4.text-uppercase.mt-4.olive criterios de diseño
        p.olive La principal tarea para el diseño de esta estacion representaba la existencia de su inmenso cuerpo de concreto y la búsqueda de disimular y modernizar su aspecto meramente constructivo para hacerlo parte del mismo lenguaje arquitectónico de las demás estaciones.
        p.olive Con grandes ventanales, paneles sándwich de aluminio y estructuras metálicas con cerramientos de elementos tubulares, intentamos dar una nueva piel y apariencia propia a esta escultura que se manifiesta con especial carácter en el paisaje.
        p.olive Las salas de maquinas de esta estación motora, requerían de importantes obras civiles para adaptarlas a los nuevos requerimientos de la electromecánica del sistema.
        p.olive La llegada de las cabinas y el andén, originalmente ubicado en el nivel superior, en el proyecto es llevado a nivel tierra, facilitando así el acceso del visitante a las áreas exteriores por un lado y por el otro liberando de esa función las áreas de la Planta Alta para permitir  aumentar en ella el espacio del Restaurante, el cual cuenta con un techo nuevo que se eleva en dirección hacia la montaña, dejando espacio para el gran ventanal  y su vista única hacia la estación Pico Espejo y los picos circundantes.
        p.olive Un nuevo cuerpo de estructura metálica, cubierto de elementos de vidrio alberga una escalera y un ascensor, conformando la circulación vertical que comunica la Planta Alta con el nivel tierra en Planta Baja.
    #project-images.col.p-0
      .arrow
        i.fas.fa-chevron-right
      ul.images
        li
          img.image-fit(src="./img/loma/01-1.jpg", alt="")
        li
          img.image-fit(src="./img/loma/01.jpg", alt="")
        li
          img.image-fit(src="./img/loma/02.jpg", alt="")
        li
          img.image-fit(src="./img/loma/03.jpg", alt="")
        li
          img.image-fit(src="./img/loma/04.jpg", alt="")
        li
          img.image-fit(src="./img/loma/05.jpg", alt="")
        li
          img.image-fit(src="./img/loma/nivel-anden.jpg", alt="")
        li
          img.image-fit(src="./img/loma/nivel-restaurant.jpg", alt="")
        li
          img.image-fit(src="./img/loma/corte-a.jpg", alt="")
        li
          img.image-fit(src="./img/loma/corte-b.jpg", alt="")
        li
          img.image-fit(src="./img/loma/corte-c.jpg", alt="")
        li
          img.image-fit(src="./img/loma/corte-d.jpg", alt="")


  
