.container-fluid.p-0
  .row
    .col-md-4.p-0
      .project-data.overflow.bg-lg-gray
        button.close(type="button" data-dismiss="modal")
          i.fas.fa-times
        h1.text-uppercase.dk-aqua.title-detail teleférico de mérida, venezuela
        h3.text-uppercase.mb-4.olive estación la montaña
        p.olive Las construcciones de la primera estacion de la montaña eran conformadas por dos plantas. Siendo estacion motora, en medio de las secciones 1 y 2, la Planta Baja, a nivel tierra, albergaba las salas técnicas de maquinas y de electricidad. En la Planta Alta se encontraba el nivel de llegada de las cabinas, por un lado, desde Barinitas y por el otro lado desde la estacion La Aguada. Estas se comunicaban por medio del andén, desde el cual se podía acceder a los sanitarios, a un pequeño Restaurante con Bar y a la escalera que llevaba al nivel inferior y al exterior.
        p.olive En general la estación se presentaba en condiciones satisfactorias a los fines de su parcial reutilización.
        h4.text-uppercase.mt-4.olive requerimientos
        p.olive Un Bar-Restaurante amoblado con cocina completamente equipado y una Sala de Uso Múltiple, ambos con sus baños y cada uno para unas doscientas personas, sanitarios para visitantes al lado del anden, una enfermería y un cuarto de pernocta para vigilantes. En el exterior un parque infantil y un mirador.
        h4.text-uppercase.mt-4.olive criterios de diseño
        p.olive En esta estacion, la presencia de un techo de dimensiones considerables, en este caso en forma cóncava, es aplicado como elemento ordenador, que figura conjuntamente con sus importantes columnas laterales, como gran marco para la cantidad de diferentes cuerpos, entre originales y nuevos, que componen la imagen que se presenta al visitante en su acercamiento a la estación. De la misma manera, su imponente volumen es referencia y de fácil identificación desde la Ciudad de Mérida, acercando la estación de esa manera a la ciudad y haciéndola parte de ella.
        p.olive Igual que en las demás estaciones, el sistema electromecánica impone sus requerimientos como condición básica para el diseño de las mismas. En este caso es la especial ubicación de los cuatro bolardos en el centro de la estacion, cuyas fundaciones, colocadas por encima de las fosas de contrapeso del viejo sistema, requerían de la demolición del andén de la sección 2 y su reconstrucción en concreto en su parte inferior y de estructura metálica para el cuerpo del andén. Las salas de motores y de electricidad siguen en las áreas originales.
        p.olive Para dar cumplimiento a los requerimientos del cliente se construyó un restaurante para unas doscientas personas y encima de este una sala de uso múltiple para una cantidad similar. El único espacio disponible para ello, presento la extensión de sus áreas por encima del sistema del teleférico de carga, ubicado en el lado Oeste de la estación, elevando a su estructura de piso a un nivel que no interfería con las guayas del sistema mencionado.
        p.olive La edificación que conforman los dos niveles para estos nuevos espacios se presenta como cuerpo de vidrio suspendido por debajo del gran techo de este lado, con su terraza en volado frontal. En el otro lado este techo cubre el andén central, el área de llegada de las cabinas y las demás construcciones, como la escalera, el ascensor, la enfermería y el apartamento de pernocta.
        p.olive Las áreas complementarias y de servicios para el restaurante se ubicaron en el lado Sur-oeste, presentándose el cuerpo formado por su escalera de acceso y un ascensor, cubierto de elementos tubulares horizontalmente como su fachada. Elementos similares se repiten en ventanas, portones y puertas de la estacion.
        p.olive En cumplimiento con las normas se instalaron dos ascensores para el transporte de personas incapacitadas: uno con tres paradas, en los niveles andén, restaurante y sala de uso múltiple y el otro en el extremo Este del andén, para cubrir el recorrido desde el andén hasta el nivel tierra, al lado del parque infantil.
    #project-images.col.p-0
      .arrow
        i.fas.fa-chevron-right
      ul.images
        li
          img.image-fit(src="./img/montana/01.jpg", alt="")
        li
          img.image-fit(src="./img/montana/02.jpg", alt="")
        li
          img.image-fit(src="./img/montana/03.jpg", alt="")
        li
          img.image-fit(src="./img/montana/04.jpg", alt="")
        li
          img.image-fit(src="./img/montana/05.jpg", alt="")
        li
          img.image-fit(src="./img/montana/06.jpg", alt="")
        li
          img.image-fit(src="./img/montana/nivel-acceso.jpg", alt="")
        li
          img.image-fit(src="./img/montana/nivel-anden.jpg", alt="")
        li
          img.image-fit(src="./img/montana/nivel-sala-de-usos-multiples.jpg", alt="")
        li
          img.image-fit(src="./img/montana/corte-a.jpg", alt="")
        li
          img.image-fit(src="./img/montana/corte-b.jpg", alt="")
        li
          img.image-fit(src="./img/montana/corte-c.jpg", alt="")
        li
          img.image-fit(src="./img/montana/corte-d.jpg", alt="")
        li
          img.image-fit(src="./img/montana/corte-f.jpg", alt="")

  
