nav.navbar.navbar-expand-md.text-uppercase.wrap
  .navbar-brand
    .brand.inverted.section-brand.hide-md(data-menuanchor='index')
      a.link-brand-unstyled(href="#index") werner
        br 
        | moser
  .dotted-line.white.left.hide-md.navbar-expand-md.mr-5
  nav#navMenu.navbar
    ul.nav.column
      li.nav-link.left
        a.olive(href="#proyectos") proyectos
      li.nav-link.left
        a.olive(href="#acerca") acerca
      li.nav-link.left.white.active contacto
