.container-fluid.p-0
  .row
    .col-md-4.p-0
      .project-data.overflow.bg-lg-gray
        button.close(type="button" data-dismiss="modal")
          i.fas.fa-times
        h1.text-uppercase.dk-aqua.title-detail teleférico de mérida, venezuela
        h3.text-uppercase.mb-4.olive estación pico espejo
        p.olive La culminación del viaje y de la sección 4 se presentaba en forma de una pequeña edificación de dos niveles, con la llegada de las cabinas en sus dos lados a nivel Planta Baja, con su área de estar y la Planta Alta con un área reducida como mirador, hacia los picos de las montañas del lado Sur. 
        p.olive Por el lado Oeste se ubicaba el camino hacia la llegada del teleférico de carga y por el otro lado el camino de tierra y rocas llevaba a una pequeña plataforma alrededor de la estatua de la Virgen de la Nieve.
        p.olive La placa piso de concreto y sus fundaciones que en la parte del fondo conformaban el sótano de la estacion, era la base para la edificación de estructura metálica de dos niveles, revestidos sus pisos, techos y paredes mayormente con madera machihembrada.
        h4.text-uppercase.mt-4.olive requerimientos
        p.olive Una Fuente de Soda, amoblada y equipada, la enfermería, equipada y con estaciones de oxígeno, sanitarios para visitantes, cuarto de pernocta y un nuevo camino hacia la estatua de la Virgen.
        h4.text-uppercase.mt-4.olive criterios de diseño
        p.olive Su especial y solitaria ubicación en la cima de la montaña y su exposición a extremas manifestaciones climáticas como fuertes vientos y nevadas, conllevaron a la concepción de un cuerpo simple y cerrado, con su piel de aluminio y con grandes ventanales para la contemplación del majestuoso entorno.
        p.olive La eliminación de la edificación original por encima del piso base de concreto, permitió erigir en ella la nueva construcción, marcada por un gran volado por encima de la roca, todo de estructura metálica, es cubierto por un techo inclinado en sentido Norte-Sur, permitiendo en el lado de mas altura la instalación de una mezzanina, la cual funciona como gran mirador con su radio de más de 180 grados de visión a través de grandes ventanales, sobre los picos de las montañas. Otro ventanal, ubicado en el lado Norte a nivel andén facilita al visitante la vista hacia la Ciudad de Mérida.
        p.olive En la parte Sur y con su acceso desde el nivel y área de sótano existente, se agregó un cuerpo de un solo piso, en el cual se ubicaron los sanitarios, la enfermería y otros cuartos de servicios complementarios, sirviendo su placa techo como terraza abierta, con vista hacia el Sur.
        p.olive En el lado Oeste del edificio existe el camino que lleva al punto de llegada del teleférico de carga. En el lado Este y a unos cincuenta metros de la estacion, por medio de una pasarela con barandas de vidrio, el visitante accede al área de la estatua de la Virgen de Nieve.
    #project-images.col.p-0
      .arrow
        i.fas.fa-chevron-right
      ul.images
        li
          img.image-fit(src="./img/pico/01.jpg", alt="")
        li
          img.image-fit(src="./img/pico/02.jpg", alt="")
        li
          img.image-fit(src="./img/pico/03.jpg", alt="")
        li
          img.image-fit(src="./img/pico/04.jpg", alt="")
        li
          img.image-fit(src="./img/pico/05.jpg", alt="")
        li
          img.image-fit(src="./img/pico/nivel-anden.jpg", alt="")
        li
          img.image-fit(src="./img/pico/nivel-mirador.jpg", alt="")
        li
          img.image-fit(src="./img/pico/nivel-servicio.jpg", alt="")
        li
          img.image-fit(src="./img/pico/corte-c.jpg", alt="")
        li
          img.image-fit(src="./img/pico/corte-d.jpg", alt="")


  
