.bg-lg-beige.overflow.mobile-top-padding
  .container
    .row
      .col-md-3
        .show-md
          .row
            .col
              h3.text-uppercase.my-4.dk-aqua proyectos
              p.mb-4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur iste temporibus voluptatibus fuga nobis ut numquam incidunt libero nemo iure harum maiores rerum nihil in dolorum placeat, corrupti nam illum, quaerat saepe. Laborum dolores dignissimos cumque consectetur amet blanditiis, laboriosam optio porro, sapiente tempora id natus beatae, praesentium fuga delectus est quaerat corrupti dolore veritatis. Consequatur corrupti, nostrum maiores voluptate.
        .full-size.hide-md
          .center-box
            include ../partials/_nav-project
      .col.align-self-center
        .row
          .col-md.p-0
            .square
              img.gallery(src="./img/barinitas/01.jpg", alt="Teleférico de Mérida, Venezuela. Estación Barinitas")
              a.link-gallery(href='#barinitas' role='button' data-toggle='modal')
                .overlay.text-center.show
                  .square-content
                    .title-gallery.text-uppercase teleférico de mérida, venezuela.
                      br 
                      | estación barinitas
                    .dotted-line
                    .text-gallery Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel aliquam similique, eveniet deserunt, pariatur dolorem!
          .col-md.p-0
            .square
              img.gallery(src="./img/montana/01.jpg", alt="Teleférico de Mérida, Venezuela. Estación La Montaña")
              a.link-gallery(href='#montana' role='button' data-toggle='modal')
                .overlay.text-center
                  .square-content
                    .title-gallery.text-uppercase teleférico de mérida, venezuela.
                      br 
                      | estación la montaña
                    .dotted-line
                    .text-gallery Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel aliquam similique, eveniet deserunt, pariatur dolorem!
          .col-md.p-0
            .square
              img.gallery(src="./img/aguada/05.jpg", alt="Teleférico de Mérida, Venezuela. Estación La Aguada")
              a.link-gallery(href='#aguada' role='button' data-toggle='modal')
                .overlay.text-center
                  .square-content
                    .title-gallery.text-uppercase teleférico de mérida, venezuela.
                      br 
                      | estación la aguada
                    .dotted-line
                    .text-gallery Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel aliquam similique, eveniet deserunt, pariatur dolorem!
        .row
          .col-md.p-0
            .square
              img.gallery(src="./img/loma/01-1.jpg", alt="Teleférico de Mérida, Venezuela. Estación Loma Redonda")
              a.link-gallery(href='#loma' role='button' data-toggle='modal')
                .overlay.text-center
                  .square-content
                    .title-gallery.text-uppercase teleférico de mérida, venezuela.
                      br 
                      | estación loma redonda
                    .dotted-line
                    .text-gallery Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel aliquam similique, eveniet deserunt, pariatur dolorem!
          .col-md.p-0
            .square
              img.gallery(src="./img/pico/01.jpg", alt="Teleférico de Mérida, Venezuela. Estación Pico Espejo")
              a.link-gallery(href='#pico' role='button' data-toggle='modal')
                .overlay.text-center
                  .square-content
                    .title-gallery.text-uppercase teleférico de mérida, venezuela.
                      br 
                      | estación pico espejo
                    .dotted-line
                    .text-gallery Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel aliquam similique, eveniet deserunt, pariatur dolorem!
          .col-md.p-0
            .square
              img.gallery(src="./img/unavailable.jpg", alt="Proyecto Futuro")
              a.disabled(href="#")
        .row
          .col-md.p-0
            .square
              img.gallery(src="./img/unavailable.jpg", alt="Proyecto Futuro")
              a.disabled(href="#")  
          .col-md.p-0
            .square
              img.gallery(src="./img/unavailable.jpg", alt="Proyecto Futuro")
              a.disabled(href="#")
          .col-md.p-0
            .square
              img.gallery(src="./img/unavailable.jpg", alt="Proyecto Futuro")
              a.disabled(href="#")
